.hidden {
  display: none;
  visibility: hidden;
}

#question {
  background-color: rgb(81, 208, 208);
  width: 50vw;
  height: 50vh;
}

#hint {
  background-color: rgb(12, 218, 101);
  width: 50vw;
  height: 20vh;
}

.show {
  display: block;
}
