.hidden {
  display: none !important;
  visibility: hidden !important;
}

#question {
  background-color: rgb(74, 226, 180);
  width: 50vw;
  height: 50vh;
}

#hint {
  background-color: rgb(57, 208, 86);
  width: 50vw;
  height: 20vh;
}

.show {
  display: block !important;
}
